@charset "UTF-8";
//==========================================================================
// object/_o-object.scss ＊オブジェクト・アイテム関連
//==========================================================================

//HERO:LOGO AREA
  .o-hero_logomark {
    width: 15%;
  }

  .o-hero_shadow {
    width: 15%;
    margin-top: 1.5rem;
  }

  .o-hero_title {
    width: 30%;
    margin-top: 0.5rem;
  }





/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
    @media screen and (max-width: 1023px) {

  }

/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
  @media screen and (max-width: 767px) {

  }
