@charset "UTF-8";
//==========================================================================
// object/_o-object.scss ＊オブジェクト・アイテム関連
//==========================================================================

//HEADER
  .o-header_logomark {
    width: 3%;
  }

//HERO:LOGO AREA
  .o-hero_logomark {
    width: 15%;
  }

  .o-hero_shadow {
    width: 15%;
    margin-top: 1.5rem;
  }

  .o-hero_title {
    width: 30%;
    margin-top: 0.5rem;
  }

//HERO:COLOR LINES
  .o-line_blue {
    top: 0;
    right: 0;
  }

  .o-line_green {
    top: 0;
    right: 0;
  }

  .o-line_purple {
    top: 0;
    right: 0;
  }

  .o-line_red {
    top: 0;
    right: 0;
  }

  .o-line_yellow {
    top: 0;
    right: 0;
  }

//SYMBOL
  .o-symbol_01 {
    width: 30%;
  }

  .o-symbol_text {
    width: 60%;
  }






/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
    @media screen and (max-width: 1023px) {

  }

/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
  @media screen and (max-width: 767px) {

  }
