@charset "UTF-8";
//==========================================================================
// layout/_l-layout.scss ＊レイアウト関連
//==========================================================================

//HERO:ALL AREA
  .l-hero {
    height: 100vh;
  }

//HERO:LOGO AREA
  .l-hero_logo {
    padding-top: 30vh;
  }

  .l-concept {
    height: 100vh;
    background: no-repeat center/90% url("/assets/img/shape/shape_house.svg");
  }









/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
    @media screen and (max-width: 1023px) {

  }

/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
  @media screen and (max-width: 767px) {

  }
