@charset "UTF-8";
//==========================================================================
// utility/_u-utlity.scss ＊テキスト関連・調整
//==========================================================================

//FONT FAMILY
  .u-ff_en {
    font-family: $josefin;
  }

//FONT SIZE：rem

  .u-fs_xxs {
    font-size: $fs_xxs;
  }
  .u-fs_xs {
    font-size: $fs_xs;
  }

  .u-fs_s {
    font-size: $fs_s;
  }

  .u-fs_m {
    font-size: $fs_m;
  }

  .u-fs_l {
    font-size: $fs_l;
  }

  .u-fs_xl {
    font-size: $fs_xl;
  }

  .u-fs_xxl {
    font-size: $fs_xxl;
  }

//FONT WEIGHT:JAPANESE
  .u-fw_xs {
    font-weight: $fw_xs;
  }

  .u-fw_s {
    font-weight: $fw_s;
  }

  .u-fw_m {
    font-weight: $fw_m;
  }

  .u-fw_l {
    font-weight: $fw_l;
  }

  .u-fw_xl {
    font-weight: $fw_xl;
  }

  .u-fw_xxl {
    font-weight: $fw_xxl;
  }

//FONT WEIGHT:ENGLISH
  .u-fw_xs-en {
    font-weight: $fw_xs-en;
  }

  .u-fw_s-en {
    font-weight: $fw_s-en;
  }

  .u-fw_m-en {
    font-weight: $fw_m-en;
  }

  .u-fw_l-en {
    font-weight: $fw_l-en;
  }

  .u-fw_xl-en {
    font-weight: $fw_xl-en;
  }

//FONT COLOR
  .u-fc_none {
    color: none;
  }

  .u-fc_white {
    color: $white;
  }

  .u-fc_darkgray {
    color: $darkgray;
  }

//LINE HEIGHT
  .u-lh_s {
    line-height: 0.8;
  }

//LETTER SPACEING
 .u-ls_l {
    letter-spacing: 0.7rem;
  }

  .u-ls_xl {
    letter-spacing: 1rem;
  }

//BORDER BOTTOM
  .u-border-b {
    border-bottom: 1px dashed $darkgray;
  }

//BACKGROUND COLOR
 .u-bg_darkgray {
   background-color: $darkgray;
 }

//FONT UPRIGHT:縦書き
  .u-font-upright {
    -ms-writing-mode: tb-rl;
   writing-mode: vertical-rl;
  }

//FONT ROATE:回転
  .u-font-roate__90 {
    transform: rotate( 90deg );
    white-space: wrap;
  }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
  @media screen and (max-width: 1023px) {

  //フォントサイズ：vw
    .u-fs_xxs {
      font-size: $fs_md-xxs;
    }
    .u-fs_xs {
      font-size: $fs_md-xs;
    }

    .u-fs_s {
      font-size: $fs_md-s;
    }

    .u-fs_m {
      font-size: $fs_md-m;
    }

    .u-fs_l {
      font-size: $fs_md-l;
    }

    .u-fs_xl {
      font-size: $fs_md-xl;
    }

    .u-fs_xxl {
      font-size: $fs_md-xxl;
    }

  }

/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
  @media screen and (max-width: 767px) {

  //スマホフォントサイズ：vw

    .u-fs_xxs {
    font-size: $fs_sm-xxs;
  }

    .u-fs_xs {
      font-size: $fs_sm-xs;
    }

    .u-fs_s {
      font-size: $fs_sm-s;
    }

    .u-fs_m {
      font-size: $fs_sm-m;
    }

    .u-fs_l {
      font-size: $fs_sm-l;
    }

    .u-fs_xl {
      font-size: $fs_sm-xl;
    }

    .u-fs_xxl {
      font-size: $fs_sm-xxl;
    }

  //フォント縦書き解除
    .u-fu-none {
      -ms-writing-mode: inherit;
      writing-mode: inherit;
      margin-left: 1rem;
      text-align: center;
    }

  }
