@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Courgette";
body {
  color: #4A4A4A;
  background-color: #F4F4F3;
  font-family: "Noto Sans Japanese", sans-serif;
  font-weight: 500;
  width: 100%; }

a {
  text-decoration: none !important; }

ul {
  list-style: none;
  padding-left: 0; }

label {
  margin-bottom: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

#l-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.is-animation {
  background: #fff; }
  .is-animation .l-menu {
    background-color: #fff; }

.l-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.l-venture {
  width: 75%; }

.l-mission {
  width: 50%; }
  .l-mission p {
    width: 75%; }

.l-positioning {
  width: 50%; }
  .l-positioning p {
    width: 75%; }

.l-solutions {
  width: 73%; }

.l-solutions__graphic {
  position: relative;
  top: 0;
  text-align: center; }

.l-solutions__linebox {
  width: 75%;
  border: 3px solid #4A4A4A;
  border-radius: 15px; }
  .l-solutions__linebox ul {
    width: 75%; }

.l-solutions__info img {
  width: 75%; }

.l-partners p {
  width: 95%; }

.l-partners ul {
  width: 95%; }

.l-partners__text {
  width: 75%; }

.l-corporate {
  width: 50%; }
  .l-corporate ul {
    width: 75%; }

.l-catalyst {
  width: 50%; }
  .l-catalyst p {
    width: 75%; }

.l-contact {
  width: 90%;
  margin: auto; }

.l-map {
  width: 65%; }
  .l-map iframe {
    width: 75%; }

.l-access {
  width: 35%; }
  .l-access ul {
    width: 75%; }

.l-linebox--bottomleft {
  width: 90%;
  position: relative;
  border: 1.5px solid #4A4A4A; }

.l-linebox--bottomleft::after {
  position: absolute;
  top: 15px;
  left: -15px;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  border: 1.5px solid #4A4A4A; }

.l-linebox--bottomright {
  width: 90%;
  position: relative;
  border: 1.5px solid #4A4A4A; }

.l-linebox--bottomright::after {
  position: absolute;
  top: 15px;
  left: -15px;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  border: 1.5px solid #4A4A4A; }

.l-linebox--topleft {
  width: 90%;
  position: relative;
  border: 1.5px solid #4A4A4A; }

.l-linebox--topleft::after {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  border: 1.5px solid #4A4A4A; }

.l-linebox--topright {
  width: 90%;
  position: relative;
  border: 1.5px solid #4A4A4A; }

.l-linebox--topright::after {
  position: absolute;
  top: -15px;
  left: 15px;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  border: 1.5px solid #4A4A4A; }

.l-access__linebox {
  width: 75%;
  border: 3px solid #4A4A4A;
  border-radius: 15px; }
  .l-access__linebox ul {
    width: 75%; }

.l-footer {
  margin-top: -1px; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
@media screen and (max-width: 767px) {
  .l-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #fff; }
  .l-venture {
    width: 90%; }
  .l-mission {
    width: 100%; }
    .l-mission p {
      width: 85%; }
  .l-positioning {
    width: 100%; }
    .l-positioning p {
      width: 85%; }
  .l-solutions {
    width: 90%; }
  .l-solutions__linebox {
    width: 90%; }
    .l-solutions__linebox ul {
      width: 85%; }
  .l-solutions__info img {
    width: 90%; }
  .l-partners p {
    width: 90%;
    margin: auto; }
  .l-partners ul {
    width: 90%;
    margin: auto; }
  .l-partners__text {
    width: 100%; }
  .l-corporate {
    width: 100%; }
    .l-corporate ul {
      width: 85%; }
  .l-catalyst {
    width: 100%; }
    .l-catalyst p {
      width: 85%; }
  .l-contact {
    width: 90%; }
  .l-map {
    width: 90%; }
    .l-map iframe {
      width: 100%; }
  .l-access {
    width: 90%;
    margin: auto; }
  .l-access__linebox {
    width: 100%;
    margin-top: 3rem; }
    .l-access__linebox ul {
      width: 85%; } }

.o-logo {
  width: 18%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* Safari用 */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.o-close {
  display: none; }

.o-navmenu {
  position: absolute;
  top: 0.7rem;
  z-index: 1; }

.o-titleline {
  border-bottom: 1.5px dashed #4A4A4A; }

.o-menu__font a {
  color: #385D89; }

.o-menu__font a:hover {
  color: #F4F4F3; }

.o-menu__box {
  margin: 2em 0;
  /*前後の余白*/
  padding: 0;
  line-height: 1; }

/*ボタン装飾*/
.o-menu__label--button {
  background: none;
  width: 4rem;
  height: 1.3rem;
  border: 3px solid #385D89;
  border-radius: 100px;
  cursor: pointer; }

/*ボタンホバー時*/
.o-menu__label--button:hover {
  background: #385D89;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/*チェックは見えなくする*/
.o-menu__box input {
  display: none; }

/*中身を非表示にしておく*/
.o-menu__box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

/*クリックで中身表示*/
.o-menu__box input:checked ~ .hidden_show {
  padding: 15px 0;
  height: auto;
  opacity: 1; }

.o-btn__map {
  position: absolute;
  top: 1rem;
  left: 0;
  border: 3px solid #385D89;
  border-radius: 100px;
  padding-top: 3px;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .o-btn__map p {
    padding-top: 1px; }

.o-btn__map:hover {
  border: 3px solid #385D89;
  border-radius: 100px;
  background-color: #385D89; }
  .o-btn__map:hover p {
    color: #F4F4F3; }

.o-btn__contact {
  border: 3px solid #385D89;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.o-btn__contact:hover {
  background: #385D89;
  color: #fff; }

.o-info__graphic {
  width: 75%; }

.o-info__shape {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 13%; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
@media screen and (max-width: 767px) {
  .o-logo {
    top: 37%;
    width: 30%; }
  .o-close {
    display: block;
    color: #ff5666;
    font-size: 5vw;
    text-decoration: underline; }
  .o-navmenu {
    top: 0.6rem;
    opacity: 0.9; }
  /*ボタンホバー時*/
  .o-menu__label--button:hover {
    background: none; }
  /*クリックで中身表示*/
  .o-menu__box input:checked ~ .hidden_show {
    height: 75vh; }
  .o-btn__map {
    top: 1rem; }
  .o-btn__map:hover {
    background-color: inherit; }
    .o-btn__map:hover p {
      color: #385D89; }
  .o-btn__contact:hover {
    background: inherit;
    color: #385D89; } }

.u-fontfamily__en {
  font-family: "Josefin Sans", sans-serif; }

.u-fontsize__xxs {
  font-size: 0.7rem; }

.u-fontsize__xs {
  font-size: 1rem; }

.u-fontsize__s {
  font-size: 1.4rem; }

.u-fontsize__m {
  font-size: 1.9rem; }

.u-fontsize__l {
  font-size: 2.4rem; }

.u-fontsize__xl {
  font-size: 3.7rem; }

.u-fontsize__xxl {
  font-size: 5.4rem; }

.u-fontsize__menu {
  font-size: 1rem; }

.u-fontweight__xs {
  font-weight: 100; }

.u-fontweight__s {
  font-weight: 300; }

.u-fontweight__m {
  font-weight: 500; }

.u-fontweight__l {
  font-weight: 700; }

.u-fontweight__xl {
  font-weight: 800; }

.u-fontweight__xxl {
  font-weight: 900; }

.u-fontweight__xs--en {
  font-weight: 100; }

.u-fontweight__s--en {
  font-weight: 300; }

.u-fontweight__m--en {
  font-weight: 400; }

.u-fontweight__l--en {
  font-weight: 600; }

.u-fontweight__xl--en {
  font-weight: 700; }

.u-fontcolor__none {
  color: none; }

.u-fontcolor__white {
  color: #fff; }

.u-fontcolor__navy {
  color: #385D89; }

.u-lineheight__s {
  line-height: 0.8; }

.u-letterspacing__l {
  letter-spacing: 0.7rem; }

.u-letterspacing__xl {
  letter-spacing: 1rem; }

.u-border-bottom {
  border-bottom: 1px dashed #4A4A4A; }

.u-bg__sand {
  background-color: #EFE8DE; }

.u-font-upright {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl; }

.u-font-roate__90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: wrap; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
@media screen and (max-width: 1023px) {
  .u-fontsize__xxs {
    font-size: 0.7vw; }
  .u-fontsize__xs {
    font-size: 1.2vw; }
  .u-fontsize__s {
    font-size: 1.7vw; }
  .u-fontsize__m {
    font-size: 2.2vw; }
  .u-fontsize__l {
    font-size: 2.7vw; }
  .u-fontsize__xl {
    font-size: 4.7vw; }
  .u-fontsize__xxl {
    font-size: 5.7vw; }
  .u-fontsize__xl--h {
    font-size: 3vh; } }

/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
@media screen and (max-width: 767px) {
  .u-fontsize__xxs {
    font-size: 3vw; }
  .u-fontsize__xs {
    font-size: 3.5vw; }
  .u-fontsize__s {
    font-size: 4vw; }
  .u-fontsize__m {
    font-size: 4.5vw; }
  .u-fontsize__l {
    font-size: 5vw; }
  .u-fontsize__xl {
    font-size: 7vw; }
  .u-fontsize__xxl {
    font-size: 8vw; }
  .u-fontsize__xl--h {
    font-size: 3vh; }
  .u-fontsize__menu {
    font-size: 5vw; }
  .u-font-upright--sm {
    -ms-writing-mode: inherit;
    -webkit-writing-mode: inherit;
    writing-mode: inherit;
    margin-left: 1rem;
    text-align: center; } }
