@import "https://fonts.googleapis.com/css?family=Courgette";
body {
  color: #4A4A4A;
  background-color: #fff;
  font-family: "Noto Sans Japanese", sans-serif;
  font-weight: 500;
  width: 100%; }

a {
  color: inherit;
  text-decoration: none !important; }

ul {
  list-style: none;
  padding-left: 0; }

label {
  margin-bottom: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.l-hero {
  height: 100vh; }

.l-hero_logo {
  padding-top: 30vh; }

.l-concept {
  height: 100vh;
  background: no-repeat center/90% url("/assets/img/shape/shape_house.svg"); }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
.o-header_logomark {
  width: 3%; }

.o-hero_logomark {
  width: 15%; }

.o-hero_shadow {
  width: 15%;
  margin-top: 1.5rem; }

.o-hero_title {
  width: 30%;
  margin-top: 0.5rem; }

.o-line_blue {
  top: 0;
  right: 0; }

.o-line_green {
  top: 0;
  right: 0; }

.o-line_purple {
  top: 0;
  right: 0; }

.o-line_red {
  top: 0;
  right: 0; }

.o-line_yellow {
  top: 0;
  right: 0; }

.o-symbol_01 {
  width: 25%; }

.o-symbol_text {
  width: 50%; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
.u-ff_en {
  font-family: "Josefin Sans", sans-serif; }

.u-fs_xxs {
  font-size: 0.7rem; }

.u-fs_xs {
  font-size: 1rem; }

.u-fs_s {
  font-size: 1.3rem; }

.u-fs_m {
  font-size: 1.8rem; }

.u-fs_l {
  font-size: 2.3rem; }

.u-fs_xl {
  font-size: 3.6rem; }

.u-fs_xxl {
  font-size: 5.3rem; }

.u-fw_xs {
  font-weight: 100; }

.u-fw_s {
  font-weight: 300; }

.u-fw_m {
  font-weight: 500; }

.u-fw_l {
  font-weight: 700; }

.u-fw_xl {
  font-weight: 800; }

.u-fw_xxl {
  font-weight: 900; }

.u-fw_xs-en {
  font-weight: 100; }

.u-fw_s-en {
  font-weight: 300; }

.u-fw_m-en {
  font-weight: 400; }

.u-fw_l-en {
  font-weight: 600; }

.u-fw_xl-en {
  font-weight: 700; }

.u-fc_none {
  color: none; }

.u-fc_white {
  color: #fff; }

.u-fc_darkgray {
  color: #4A4A4A; }

.u-lh_s {
  line-height: 0.8; }

.u-ls_l {
  letter-spacing: 0.7rem; }

.u-ls_xl {
  letter-spacing: 1rem; }

.u-border-b {
  border-bottom: 1px dashed #4A4A4A; }

.u-bg_darkgray {
  background-color: #4A4A4A; }

.u-font-upright {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl; }

.u-font-roate__90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: wrap; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
@media screen and (max-width: 1023px) {
  .u-fs_xxs {
    font-size: 0.7vw; }
  .u-fs_xs {
    font-size: 1.2vw; }
  .u-fs_s {
    font-size: 1.7vw; }
  .u-fs_m {
    font-size: 2.2vw; }
  .u-fs_l {
    font-size: 2.7vw; }
  .u-fs_xl {
    font-size: 4.7vw; }
  .u-fs_xxl {
    font-size: 5.7vw; } }

/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
@media screen and (max-width: 767px) {
  .u-fs_xxs {
    font-size: 3vw; }
  .u-fs_xs {
    font-size: 3.5vw; }
  .u-fs_s {
    font-size: 4vw; }
  .u-fs_m {
    font-size: 4.5vw; }
  .u-fs_l {
    font-size: 5vw; }
  .u-fs_xl {
    font-size: 7vw; }
  .u-fs_xxl {
    font-size: 8vw; }
  .u-fu-none {
    -ms-writing-mode: inherit;
    -webkit-writing-mode: inherit;
    writing-mode: inherit;
    margin-left: 1rem;
    text-align: center; } }
