@import "https://fonts.googleapis.com/css?family=Courgette";
body {
  color: #4A4A4A;
  background-color: #fff;
  font-family: "Noto Sans Japanese", sans-serif;
  font-weight: 500;
  width: 100%; }

a {
  text-decoration: none !important; }

ul {
  list-style: none;
  padding-left: 0; }

label {
  margin-bottom: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.l-hero {
  height: 70vh; }

.l-hero_logo {
  margin-top: 30vh; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
.o-hero_logomark {
  width: 15%; }

.o-hero_shadow {
  width: 15%;
  margin-top: 1.5rem; }

.o-hero_title {
  width: 30%;
  margin-top: 0.5rem; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
.u-fontfamily__en {
  font-family: "Josefin Sans", sans-serif; }

.u-fontsize__xxs {
  font-size: 0.7rem; }

.u-fontsize__xs {
  font-size: 1rem; }

.u-fontsize__s {
  font-size: 1.4rem; }

.u-fontsize__m {
  font-size: 1.9rem; }

.u-fontsize__l {
  font-size: 2.4rem; }

.u-fontsize__xl {
  font-size: 3.7rem; }

.u-fontsize__xxl {
  font-size: 5.4rem; }

.u-fontsize__menu {
  font-size: 1rem; }

.u-fontweight__xs {
  font-weight: 100; }

.u-fontweight__s {
  font-weight: 300; }

.u-fontweight__m {
  font-weight: 500; }

.u-fontweight__l {
  font-weight: 700; }

.u-fontweight__xl {
  font-weight: 800; }

.u-fontweight__xxl {
  font-weight: 900; }

.u-fontweight__xs--en {
  font-weight: 100; }

.u-fontweight__s--en {
  font-weight: 300; }

.u-fontweight__m--en {
  font-weight: 400; }

.u-fontweight__l--en {
  font-weight: 600; }

.u-fontweight__xl--en {
  font-weight: 700; }

.u-fontcolor__none {
  color: none; }

.u-fontcolor__white {
  color: #fff; }

.u-fontcolor__navy {
  color: #385D89; }

.u-lineheight__s {
  line-height: 0.8; }

.u-letterspacing__l {
  letter-spacing: 0.7rem; }

.u-letterspacing__xl {
  letter-spacing: 1rem; }

.u-border-bottom {
  border-bottom: 1px dashed #4A4A4A; }

.u-bg__sand {
  background-color: #EFE8DE; }

.u-font-upright {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl; }

.u-font-roate__90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: wrap; }

/* ***************************************************************************
    PC(1024px)
  *************************************************************************** */
@media screen and (max-width: 1023px) {
  .u-fontsize__xxs {
    font-size: 0.7vw; }
  .u-fontsize__xs {
    font-size: 1.2vw; }
  .u-fontsize__s {
    font-size: 1.7vw; }
  .u-fontsize__m {
    font-size: 2.2vw; }
  .u-fontsize__l {
    font-size: 2.7vw; }
  .u-fontsize__xl {
    font-size: 4.7vw; }
  .u-fontsize__xxl {
    font-size: 5.7vw; }
  .u-fontsize__xl--h {
    font-size: 3vh; } }

/* ***************************************************************************
    MOBILE(~768px)
  *************************************************************************** */
@media screen and (max-width: 767px) {
  .u-fontsize__xxs {
    font-size: 3vw; }
  .u-fontsize__xs {
    font-size: 3.5vw; }
  .u-fontsize__s {
    font-size: 4vw; }
  .u-fontsize__m {
    font-size: 4.5vw; }
  .u-fontsize__l {
    font-size: 5vw; }
  .u-fontsize__xl {
    font-size: 7vw; }
  .u-fontsize__xxl {
    font-size: 8vw; }
  .u-fontsize__xl--h {
    font-size: 3vh; }
  .u-fontsize__menu {
    font-size: 5vw; }
  .u-font-upright--sm {
    -ms-writing-mode: inherit;
    -webkit-writing-mode: inherit;
    writing-mode: inherit;
    margin-left: 1rem;
    text-align: center; } }
